.loginContainer{
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: row-reverse;
}

.leftPart{
    width: 50%;
    padding-top: 25px;
}

.form {
    position: relative;
    z-index: 1;
    background-color: rgba(32, 154, 220, 0.903);
    /* background-color: rgba(245, 249, 150, 0.932); */
    margin: 0;
    padding: 45px;
    text-align: center;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.form input{
    font-family: BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    outline: 0;
    text-transform: uppercase;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;

    text-transform: uppercase;
    outline: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #5e298f;
    background-color: rgba(245, 249, 150, 0.932);
        /* background-color: rgba(32, 154, 220, 0.903); */
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:focus{
    background-color: rgba(127, 195, 240, 0.903)
}

.rightPart{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 75px;
}

.title{
    font-family: BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;

    font-weight: 300;
    font-size: 20px;
    }

.navLink {
    text-decoration: none;

    font-weight: 500;
    font-size: 20px;
    color: #5e298f;

    width: 50%;

    padding: 20px;

    text-transform: uppercase;
    color: white;
    background-color: rgba(7, 78, 116, 0.903);
    /* background-color: rgba(245, 249, 150, 0.932); */
}

.navLink:hover {
    background-color: rgba(127, 195, 240, 0.903);
}