

.filter{
    padding-top: 25px;
    padding-bottom: 25px;
}

.contactsContainer {
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
}

.leftSide{
    width: 50%;
    border-right: 3px solid rgba(7, 78, 116, 0.903);
    padding-top: 25px;  
}

.title{
    text-align: center;

    font-family: BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;;
    font-weight: 400;
    font-size: 23px;

    text-transform: uppercase;
}

.rightSide{
    width: 50%;

    padding-top: 25px;
}