.title{
    font-family: BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-weight: 300;
    font-size: 50px;

    padding-top: 170px;

    text-align: center;
}

.info{
    composes: title;

    padding-top: 30px;
}

.infoAccent{
    text-decoration: none;
    color: rgba(7, 78, 116, 0.903);;
}