.nav {
    width: 50%;

    display: flex;
    justify-content: flex-end;
    text-align: end;

    background-color: rgba(245, 249, 150, 0.932);
}

.navLink {
    text-decoration: none;

    font-weight: 500;
    font-size: 20px;
    color: #0e0534;

    padding: 20px;

    text-transform: uppercase;

}

.navLink:hover{
    background-color: rgba(127, 195, 240, 0.903);
}

.active {
    color: white;
    background-color: rgba(32, 154, 220, 0.903);
}